<script src="../../app.module.ts"></script>
<div class="container-fluid ligth-bg">
    <div class="row text-center">
        <div class="col-1"></div>
        <div class="col d-flex align-items-center justify-content-center bold font-22">
            Visualizar y editar fase
        </div>
        <div class="col-1 d-flex align-items-top pointer" (click)="closeOverlay()">
            <i class="m-0 p-0 bi bi-x font-34" ></i>
        </div>
    </div>
    <form class="mx-5" (ngSubmit)="onSubmit()">
        <div class="row mt-3">
            <div class="col-9">
                <label for="nombre">Nombre</label>
                <input id="nombre" [(ngModel)]="nombre" name="nombre" class="form-control" required />
            </div>
            <div class="col-3">
                <label for="numero">Número</label>
                <select id="numero" [(ngModel)]="numero" name="numero" class="form-control" required>
                    <option *ngFor="let i of numeros" [value]="i">{{i}}</option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" [(ngModel)]="descripcion" name="descripcion" class="form-control" required></textarea>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <label for="fecha_inicio">Fecha de Inicio</label>
                <input id="fecha_inicio" type="datetime-local" [(ngModel)]="fecha_inicio" name="fecha_inicio" class="form-control" required />
            </div>
            <div class="col-6">
                <label for="fecha_termino">Fecha de Término</label>
                <input id="fecha_termino" type="datetime-local" [(ngModel)]="fecha_termino" name="fecha_termino" class="form-control" required />
            </div>
            <div *ngIf="rangoErroneo" class="red-bold text-center">La fecha de termino debe ser posterior a la de inicio</div>
        </div>
        @if (fase.tipo === 'general' ||(fase.tipo !== 'guia' && tema.estado !== 'En trabajo') || fase.tipo === 'alumno') {
            <div class="row d-flex align-items-end mt-5">
                <div class="col d-flex justify-content-end">
                    <div class="row btn-size-120">
                        <button class="btn-red-naked-16 bold" (click)="eliminarFaseConfirm()">
                            <span>Eliminar</span>
                            <span
                                class="ms-1 spinner-border spinner-border-sm"
                                aria-hidden="true"
                                *ngIf="eliminando"
                            ></span>
                        </button>
                    </div>
                </div>
                <div class="col ms-5 d-flex justify-content-start">
                    <div class="row btn-size-120">
                        <button type="submit" class="btn-primary-16 bold" type="submit">
                            <span>Editar</span>
                            <span
                            class="ms-1 spinner-border spinner-border-sm"
                            aria-hidden="true"
                            *ngIf="loading"
                            ></span>
                        </button>
                    </div>
                </div>
            </div>
        } 
    </form>
</div>