<div class="container-fluid m-0 px-5" *ngIf="!loading">
  <div class="row font-20 bold d-flex align-items-center justify-content-center mt-24 r-16 border primary px-3 mb-3 mx-1">
    <div class="col d-flex justify-content-start pointer" (click)="mesAnterior()">
      <i class="bi bi-arrow-left primary-normal font-40"></i>
    </div>
    <div class="col bold d-flex justify-content-center">
      {{meses[mes]}} {{year}}
    </div>
    <div class="col d-flex justify-content-end pointer" (click)="mesSiguiente()">
      <i class="bi bi-arrow-right primary-normal font-40"></i>
    </div>
  </div>

  <!-- Header -->
  <div class="row rt-50 h-55 font-20 bold primary-bg d-flex align-items-center">
    <div class="col text-center"  *ngFor="let dia of dias; index as i">
      {{dia}}
    </div>
  </div>

  <!-- Body -->
  <div class="row" *ngFor="let semana of calendario; index as i">
    <div
      class="col square bold border secondary-bg primary base-style"
      *ngFor="let dia of semana; index as j"
      (mouseenter)="onMouseEnter(i, j, dia)"
      (mouseleave)="onMouseLeave()"
      [ngClass]="{
        'hovered': hoveredCell?.weekIndex === i && hoveredCell?.dayIndex === j,
        'reunion-dia': hayEvento(dia)
      }"
    >
      @if (hayEvento(dia)) {
        <ng-container *ngIf="hoveredCell?.weekIndex === i && hoveredCell?.dayIndex === j; else showDay">
          <i class="bi bi-eye pointer"  (click)="showEventos(dia)"></i>
        </ng-container>
      } @else {
        <ng-container *ngIf="hoveredCell?.weekIndex === i && hoveredCell?.dayIndex === j; else showDay">
          <i class="bi bi-plus-circle pointer"  (click)="triggerFileInput()"></i>
          <input
            type="file"
            #fileInput
            class="d-none"
            accept="application/pdf"
            (change)="onFileSelected($event)"
          />
        </ng-container>
      }
      <ng-template #showDay>
        {{dia | twoDigitDay}}
      </ng-template>
    </div>
  </div>
</div>

<!-- loader -->
<div class="container-fluid d-flex justify-content-center align-items-center fullscreen" *ngIf="loading">
  <div class="spinner-grow primary-normal div-size-72" role="status">
    <span class="visually-hidden">cargando...</span>
  </div>
</div>
