<div class="container-fluid ligth-bg">
  <div class="row text-center">
    <p class="bold font-22">Agregar docente</p>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="row mt-3">
      <div class="col">
        <label for="nombre">Nombre</label>
        <input id="nombre" [(ngModel)]="nombre" name="nombre" class="form-control" required />
      </div>
      <div class="col">
        <label for="apellido">Apellido</label>
        <input id="apellido" [(ngModel)]="apellido" name="apellido" class="form-control" required />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <label for="rut">RUT</label>
        <input id="rut" [(ngModel)]="rut" name="rut" class="form-control" required />
      </div>
      <div class="col-6">
        <label for="tipo">Tipo</label>
        <select id="tipo" [(ngModel)]="tipo" name="tipo" class="form-control" required>
          <div *ngIf="userRepresentation.tipo==='cargo'"><option value="cargo">Profesor a Cargo</option></div>
          <option value="guia">Profesor Guía</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <label for="correo">Correo</label>
        <input id="correo" [(ngModel)]="correo" name="correo" class="form-control" required email />
      </div>
    </div>
    <div class="row d-flex align-items-end mt-5">
      <div class="col d-flex justify-content-end">
        <div class="row btn-size-120">
          <button class="btn-primary-16 bold" (click)="closeOverlay()">
            Cancelar
          </button>
        </div>
      </div>
      <div class="col ms-5 d-flex justify-content-start">
        <div class="row btn-size-120">
          <button type="submit" class="btn-primary-16 bold" type="submit">
            <span>Inscribir</span>
            <span
              class="ms-1 spinner-border spinner-border-sm"
              aria-hidden="true"
              *ngIf="loading"
            ></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
