@import 'color.scss';

.position-relative {
  position: relative; /* Contenedor relativo para las pills */
  display: flex;
  flex-direction: column; /* Asegura que las pills estén en columna */
  align-items: center; /* Centra las pills horizontalmente */
}

.pill-gray{
    background-color: $gray;
    border-radius: 16px;
    color: $light-color;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-pill {
  position: absolute;
  top: 100%; /* Coloca la pill justo debajo de la primera */
  margin-top: 4px; /* Espaciado opcional */
  z-index: 10; /* Asegura que flote sobre otros elementos */
}

.pill-green{
    background-color: $green;
    border-radius: 16px;
    color: black;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pill-white{
  background-color: white !important;
  border-radius: 16px;
  color: black;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pill-red{
    background-color: $red;
    border-radius: 16px;
    color: black;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pill-yellow{
    background-color: $yellow;
    border-radius: 16px;
    color: black;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pill-size-100 {
    width: 100px;
    height: 20px;
}

.pill-size-150{
    width: 150px;
    height: 40px;
}

.pill-size-170{
    width: 170px;
    height: 45px;
}
