@import 'color.scss';

.position-relative {
  position: relative; /* Contenedor relativo para las pills */
  display: flex;
  flex-direction: column; /* Asegura que las pills estén en columna */
  align-items: center; /* Centra las pills horizontalmente */
}

.pill-gray{
    background-color: $gray;
    border-radius: 16px;
    color: $light-color;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-pill {
  position: absolute;
  top: 100%; /* Coloca la pill justo debajo de la primera */
  margin-top: 4px; /* Espaciado opcional */
  z-index: 10; /* Asegura que flote sobre otros elementos */
}

.pill-green{
    background-color: $green;
    border-radius: 16px;
    color: black;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pill-white{
  background-color: white !important;
  border-radius: 16px;
  color: black;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pill-red{
    background-color: $red;
    border-radius: 16px;
    color: black;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pill-yellow{
    background-color: $yellow;
    border-radius: 16px;
    color: black;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pill-size-100 {
    width: 5.21vw;
    min-width: 60px;
    max-width: 100px;
    height: 1.04vw;
    min-height: 14px;
    max-height: 20px;
    font-size: 0.73vw;      // 14px en 1920px de ancho (14/1920*100)
    min-font-size: 10px;
    max-font-size: 14px;
}

.pill-size-150 {
    width: 7.81vw;
    min-width: 90px;
    max-width: 150px;
    height: 2.08vw;
    min-height: 28px;
    max-height: 40px;
    font-size: 1.25vw;      // 24px en 1920px de ancho (24/1920*100)
    min-font-size: 16px;
    max-font-size: 24px;
}

.pill-size-170 {
    width: 8.85vw;
    min-width: 100px;
    max-width: 170px;
    height: 2.34vw;
    min-height: 32px;
    max-height: 45px;
    padding: 1vh 0.5vw;
    font-size: 1vw;      // 27px en 1920px de ancho (27/1920*100)
    min-font-size: 14px;
    max-font-size: 20px;
}

// Media queries para limitar el tamaño de fuente en pantallas pequeñas
@media (max-width: 600px) {
  .pill-size-100 { font-size: 10px; }
  .pill-size-150 { font-size: 16px; }
  .pill-size-170 { font-size: 14px; }
}

// Media queries para limitar el tamaño de fuente en pantallas grandes
@media (min-width: 1920px) {
  .pill-size-100 { font-size: 14px; }
  .pill-size-150 { font-size: 24px; }
  .pill-size-170 { font-size: 18px; }
}
