<header class="header container-fluid">
  <div class="row h-100">
    <div class="col-3 d-flex justify-content-end">
      <img src="/assets/utalca-blanco.svg" alt="logo" class="logo" />
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <h1 class="title bold">Portal Tesista</h1>
    </div>
    <div class="col-3 d-flex justify-content-end align-items-center pe-5">
      <button class="button login bold btn-size-150" (click)="goHome()">
          Ingresar <i class="ms-1 bi bi-box-arrow-in-right font-30"></i>
      </button>
    </div>
  </div>
</header>
