<script src="../../../common/agregar-fase-flujo/agregar-fase-flujo.component.ts"></script>
<div *ngIf="!loading">
  <!-- Header -->
  <div class="row mx-5 px-5 rt-50 h-55 font-20 bold primary-bg d-flex align-items-center">
    <div class="col-2 text-center">
      Tema
    </div>
    <div class="col-2 text-center ">
      Profesor Guía
    </div>
    <div class="col-2 text-center ">
      Profesor co-Guía
    </div>
    <div class="col"></div>
    <div class="col-2 text-center">
      Estado
    </div>
    <div class="col"></div>
    <div class="col-2 text-center d-flex justify-content-center ">
      Detalle
    </div>
  </div>

  <!-- Body -->
  <div class="row h-100 mb-1 px-5 mx-5 secondary-bg bold d-flex align-items-center " *ngFor="let tema of temas; index as i">
    <div class="col-2 text-center ">
      {{tema.titulo}}
    </div>
    <div class="col-2 text-center ">
      {{tema.guia}}
    </div>
    <div class="col-2 container-fluid text-center">
      <div class="row w-100 d-flex justify-content-center" *ngFor="let co_guia of tema.co_guias">
        {{co_guia}}
      </div>
    </div>
    <div class="col"></div>
    <div class="col-2 font-18 bold text-center d-flex justify-content-center align-items-center">
      <div class="pill-yellow pill-size-170" *ngIf="tema.estado === 'Pendiente'">
        {{tema.estado}}
      </div>
      <div class="pill-white pill-size-170" *ngIf="tema.estado === 'En trabajo'">
        {{tema.estado}}
      </div>
      <div class="pill-green pill-size-170" *ngIf="tema.estado === 'Finalizado'">
        {{tema.estado}}
      </div>
    </div>
    <div class="col"></div>
    <div class="col-2 d-flex justify-content-center align-items-center ">
      <button class="button secondary btn-size-150 bold" (click)="detalleTema(tema)">Ver</button>
    </div>
  </div>
</div>
<!-- Loader -->
<div class="container-fluid d-flex justify-content-center align-items-center fullscreen" *ngIf="loading">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<!-- detalle popup -->
<div *ngIf="detalle" class="overlay">
  <div class="overlay-content">
    <app-tema-popup
      [tema]="temaSeleccionado"
      (close)="detalleTemaClose()"
      (solicitar)="solicitarTema()">
    </app-tema-popup>
  </div>
</div>
<!-- Solicitar tema popup -->
<div *ngIf="formulario" class="overlay">
  <div class="overlay-content">
    <app-formulario-solicitud-tema
      [tema]="temaSeleccionado"
      (close)="solicitarTemaClose()">
    </app-formulario-solicitud-tema>
  </div>

