<div class="m-0 p-0" *ngIf="!loading">
  <!-- Barra para crear nuevo profesor -->
  <div class="row">
    <div class="container">
      <div class="row px-3 py-2 mx-5 r-16 border primary ">
        <div class="col-5"></div>
        <div class="col d-flex justify-content-center align-items-center bold">
            Gestión de profesores
        </div>
        <div class="col-5 d-flex justify-content-end" (click)="agregarProfesor()">
          <button class="button primary bold r-16 btn-size-150 font-18">Agregar <i class="ps-2 bi bi-plus-circle font-30"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- Header -->
  <div class="row mx-5 px-5 rt-50 h-55 font-20 bold primary-bg d-flex align-items-center">
    <div class="col-2 text-center">
      nombre
    </div>
    <div class="col-2 text-center ">
     rut
    </div>
    <div class="col-2 text-center ">
      correo
    </div>
    <div class="col"></div>
    <div class="col-2 text-center">
      tipo
    </div>
    <div class="col"></div>
    <div class="col-2 text-center d-flex justify-content-center " *ngIf="userRepresentation.tipo === 'cargo'">
      gestionar
    </div>
  </div>

  <!-- Body -->
  <div class="row h-100 mb-1 px-5 mx-5 secondary-bg bold d-flex align-items-center " *ngFor="let profesor of profesores; index as i">
    <div class="col-2 text-center ">
      {{profesor.nombre}}
    </div>
    <div class="col-2 text-center ">
      {{profesor.rut}}
    </div>
    <div class="col-2 text-center ">
      {{profesor.correo}}
    </div>
    <div class="col"></div>
    <div class="col-2 font-18 bold text-center d-flex justify-content-center align-items-center position-relative">
      @if (profesor.tipo === 'cargo') {
        <div class="pill-green pill-size-170 pointer" (click)="toogleCambiarRol(profesor)">
          profesor a cargo
        </div>
        @if (profesor.cambiarRol && userRepresentation.tipo === 'cargo') {
          <div class="pill-yellow pill-size-170 floating-pill pointer" (click)="cambiarRol(profesor)">
            profesor guía
          </div>
        }
      }
      @if (profesor.tipo === 'guia') {
        <div class="pill-yellow pill-size-170 pointer pointer" (click)="toogleCambiarRol(profesor)" >
          profesor guía
        </div>
        @if (profesor.cambiarRol && userRepresentation.tipo === 'cargo') {
          <div class="pill-green pill-size-170 floating-pill" (click)="cambiarRol(profesor)">
            profesor a cargo
          </div>
        }
      }
    </div>
    <div class="col"></div>
    <div class="col-2 d-flex justify-content-center align-items-center " *ngIf="userRepresentation.tipo === 'cargo'">
      <div *ngIf="profesor.activo == 1">
        <button class="button secondary btn-size-150 bold" (click)="desactivar(profesor)" [disabled]="userRepresentation.tipo !== 'cargo'">Desactivar</button>
      </div>
      <div *ngIf="profesor.activo == 0">
        <button class="button secondary btn-size-150 bold" (click)="activar(profesor)" [disabled]="userRepresentation.tipo !== 'cargo'">activar</button>
      </div>
    </div>
  </div>
</div>

<!-- Agregar docentes -->
<div *ngIf="showAgregarDocente" class="overlay">
  <div class="overlay-content">
    <app-agregar-docente [userRepresentation]="userRepresentation" (close)="closeAgregarDocente()"></app-agregar-docente>
  </div>
</div>

<!-- Loader -->
<div class="container-fluid d-flex justify-content-center align-items-center fullscreen" *ngIf="loading">
  <div class="spinner-grow primary-normal div-size-72" role="status">
    <span class="visually-hidden">cargando...</span>
  </div>
</div>
