<div *ngIf="isVisible" class="overlay-background" (click)="closeMenu()"></div>
<div class="dropdown-menu secondary-bg m-0 p-0" [class.show]="isVisible">
  <button class="m-0 p-0 close-btn accent-normal" (click)="closeMenu()">
    <i class="m-0 p-0 bi bi-x font-34"></i>
  </button>
  <div class="dropdown-content container-fluid">
    <div class="row">
      <div class="w-100 h-55 font-22 primary-bg bold r-8 d-flex justify-content-center align-items-center">
        {{ userRepresentation.nombre }}
      </div>
    </div>
    <div class="row accent-border drop-shadow my-22"></div>
    <div class="row h-55 r-8 light-bg-interactive d-flex align-items-center pointer" (click)="goHome()">
        <div class="col-2">
         <i class="ms-1 bi bi-house font-30"></i>
        </div>
        <div class="col font-20">
          Inicio
        </div>
    </div>
    <div class="row h-55 r-8 my-22 light-bg-interactive  pointer d-flex align-items-center"
         *ngIf="userRepresentation.tipo === 'cargo' || userRepresentation.tipo === 'guia'"
          (click)="goToProfesores()"
    >
      <div class="col-2">
        <i class="ms-1 bi bi-person font-30"></i>
      </div>
      <div class="col font-20">
        Gestionar profesores
      </div>
    </div>
    <div class="row h-55 r-8 my-22 light-bg-interactive d-flex align-items-center pointer"
         *ngIf="userRepresentation.tipo === 'cargo'"
    >
      <div class="col-2">
        <i class="ms-1 bi bi-backpack2 font-30"></i>
      </div>
      <div class="col font-20">
        Fundar una escuela
      </div>
    </div>
  </div>
  <div class="logout container-fluid h-90 w-100 light-bg d-flex align-self-end align-items-center" (click)="logout()">
    <div class="col-5 mx-5 font-20 d-flex align-items-center">
      Salir
    </div>
    <div class="col-0 h-55 accent-border drop-shadow"></div>
    <div class="col d-flex align-items-center px-5">
      <i class="bi bi-box-arrow-right font-45"></i>
    </div>
  </div>
</div>
