<script src="../profesores/tabla-profesores/tabla-profesores.component.ts"></script>
<div class="container-fluid mx-5 w-95" *ngIf="!loading">
    <div class="row d-flex align-items-center justify-content-center mb-3 r-8 primary-border">
        <div class="col"></div>
        <div class="col d-flex justify-content-center align-items-center font-20 bold">Temas</div>
        <div class="col d-flex justify-content-end p-1 mx-1">
            <button class="button primary btn-size-150 r-8 bold" (click)="showAgregarTema()">
                <span>Crear tema</span>
                <span class="ms-1 bi bi-plus-circle font-24"></span>
            </button>
        </div>
    </div>
    <!-- Header -->
    <div class="row rt-50 h-55 font-20 bold primary-bg d-flex align-items-center">
        <div class="col-2 text-center">
            Tema
        </div>
        <div class="col-2 text-center ">
            Profesor Guía
        </div>
        <div class="col-2 text-center ">
            Profesor co-Guía
        </div>
        <div class="col"></div>
        <div class="col-2 text-center">
            Estado
        </div>
        <div class="col"></div>
        <div class="col-2 text-center d-flex justify-content-center ">
            Detalle
        </div>
    </div>
    <!-- Body -->
    <div class="row h-100 mb-1 secondary-bg bold d-flex align-items-center "
        *ngFor="let tema of temas; index as i">
        <div class="col-2 text-center ">
            {{tema.titulo}}
        </div>
        <div class="col-2 text-center ">
            {{tema.ProfesorGuia}}
        </div>
        <div class="col-2 text-center">
            {{tema.ProfesorCoGuia}}
        </div>
        <div class="col"></div>
        <div class="col-2 font-18 bold text-center d-flex justify-content-center align-items-center">
            <div class="pill-yellow pill-size-170" *ngIf="tema.estado === 'Pendiente'">
                {{tema.estado}}
            </div>
            <div class="pill-white pill-size-170" *ngIf="tema.estado === 'En trabajo'">
                {{tema.estado}}
            </div>
            <div class="pill-green pill-size-170" *ngIf="tema.estado === 'Finalizado'">
                {{tema.estado}}
            </div>
        </div>
        <div class="col"></div>
        <div class="col-2 d-flex justify-content-center align-items-center ">
            <button class="button secondary btn-size-150 bold" (click)="detalleTema(tema)">Ver</button>
        </div>
    </div>
</div>
<!-- Loader -->
<div class="container-fluid d-flex justify-content-center align-items-center fullscreen" *ngIf="loading">
    <div class="spinner-grow primary-normal div-size-72" role="status">
        <span class="visually-hidden">cargando...</span>
    </div>
</div>
<!-- Agregar tema popup -->
<div *ngIf="agregarTema" class="overlay">
    <div class="overlay-content">
        <app-agregar-tema
            [userRepresentation]="userRepresentation"
            (close)="closeAddTema()">
        </app-agregar-tema>
    </div>
</div>
