<div *ngIf="!loading">
  <app-home-header [userRepresentation]="userRepresentation"></app-home-header>
  <div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center bold font-22">
      Flujo general escuela {{userRepresentation.escuela}}
    </div>
  </div>
  <!-- Header -->
  <div class="row mx-5 px-5 rt-50 h-55 font-20 bold primary-bg d-flex align-items-center">
    <div class="col-2 text-center">
      nombre
    </div>
    <div class="col-2 text-center ">
      Creador
    </div>
    <div class="col-2 text-center ">
      Inicio
    </div>
    <div class="col"></div>
    <div class="col-2 text-center">
      Termino
    </div>
    <div class="col"></div>
    <div class="col-2 text-center d-flex justify-content-center">
      Gestionar
    </div>
  </div>
  <!-- Body -->
  <div class="row h-100 mb-1 px-5 mx-5 secondary-bg bold d-flex align-items-center " *ngFor="let fase of fasesFlujo; index as i">
    <div class="col-2 text-center ">
      {{fase.nombre}}
    </div>
    <div class="col-2 text-center ">
      {{flujoGeneral.rut_creador}}
    </div>
    <div class="col-2 text-center ">
      {{fase.fecha_inicio | dateFormat}}
    </div>
    <div class="col"></div>
    <div class="col-2 text-center">
      {{fase.fecha_termino | dateFormat}}
    </div>
    <div class="col"></div>
    <div class="col-2 d-flex justify-content-center align-items-center " *ngIf="userRepresentation.tipo === 'cargo'">
      <button class="button secondary btn-size-150 bold">ver</button>
  </div>
</div>
<!-- Loader -->
<div class="container-fluid d-flex justify-content-center align-items-center fullscreen" *ngIf="loading">
  <div class="spinner-grow primary-normal div-size-72" role="status">
    <span class="visually-hidden">cargando...</span>
  </div>
</div>
