<script src="../../Http-request.service.ts"></script>
<div class="container-fluid" *ngIf="!loading">
  <div class="row d-flex align-items-center justify-content-center mb-3 r-8 primary-border">
    <div class="col"></div>
    <div class="col d-flex justify-content-center align-items-center font-20 bold">Reuniones </div>
    <div class="col d-flex justify-content-end p-1 mx-1">
      <button class="button primary btn-size-170 r-8 bold" (click)="showCrearReunion()">
        <span>Crear reunion</span>
        <span class="ms-1 bi bi-plus-circle font-24"></span>
      </button>
    </div>
  </div>
  <!-- Header -->
  <div class="row rt-50 h-55 font-20 bold primary-bg d-flex align-items-center">
    <div class="col-4 text-center">
      Fecha
    </div>
    <div class="col-4 text-center ">
      Estado
    </div>
    <div class="col-4 text-center d-flex justify-content-center ">
      Detalle
    </div>
  </div>
</div>

<!-- loader -->
<div class="container-fluid d-flex justify-content-center align-items-center fullscreen" *ngIf="loading">
  <div class="spinner-grow primary-normal div-size-72" role="status">
    <span class="visually-hidden">cargando...</span>
  </div>
</div>

<!-- crear reunion popup -->
<div *ngIf="crearReunion" class="overlay">
  <div class="overlay-content">
    <app-crear-reunion
      [userRepresentation]="userRepresentation"
      [tema]="tema"
      (close)="cerrarCrearReunion()"
    >
    </app-crear-reunion>
  </div>
</div>
